<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
        <add key="APIAuthority" value="https://api.tradevine.com"/>
        <add key="RequestTokenUrl" value="https://api.tradevine.com/v1/RequestToken"/>
        <add key="AccessTokenUrl" value="https://api.tradevine.com/v1/AccessToken"/>
        <add key="AuthoriseUrl" value="https://nz.tradevine.com/API/v1/Authorise"/>
        <add key="ConsumerKey" value="2c4adb9f-7f8a-46e7-8ff2-8fa0b86efc32"/>
        <add key="ConsumerSecret" value="3866b3f2-6b53-46a2-963b-a459b47e42f5"/>
        <add key="AccessTokenKey" value="7cc3e853-977c-4fce-bf29-b64a265ffc11"/>
        <add key="AccessTokenSecret" value="1c3de92f-95b9-4cf5-a523-d1cf96f54143"/>
    </appSettings>
    <system.web>
        <httpRuntime maxRequestLength="16384" maxQueryStringLength="20480" executionTimeout="1200" enableVersionHeader="false"/>
    </system.web>
</configuration>
